<div class="container">
  @if(!isDesktop){
  <app-header-mobile></app-header-mobile>
  }
  <div class="mdc-card">
    <div
      class="channel-box pointer"
      [id]="itemID"
      (click)="openChannel($event, 'channel-edition')"
      (mouseover)="hovering = true"
      (mouseout)="hovering = false"
    >
      <h1 class="no-margin">
        <span>#</span>
        <span>{{ channel.name }}</span>
      </h1>
      <img
        [src]="
          hovering
            ? './assets/img/icon/keyboard_arrow_down_color.svg'
            : './assets/img/icon/keyboard_arrow_down.svg'
        "
        alt=""
      />
    </div>

    <div class="img-box pointer" (click)="toggleOverlay('overlay1')">
      @if(isDesktop){
      <div *ngFor="let member of filterUsers()" style="margin-left: -12px">
        <div class="profil-img">
          <img class="img-profil" src="{{ member.avatar }}" alt="" />
        </div>
      </div>
      <p class="memberCount">{{ memberCount }}</p>
      }
      <div class="add-img">
        <img src="./assets/img/icon/add_member.svg" alt="" />
      </div>
    </div>
  </div>

  @if(this.matchMedia.loading){
      <div class="loading-animation">
        <app-progress-spinner></app-progress-spinner>
      </div>
      }@else{
  <div class="content">
    <div
      class="message-content"
      #messageContent
      style="overflow-y: scroll; height: 100%"
    >
      @if (this.firestore.channelMessages.length !== 0) {
       @for (channelMessage of this.firestore.channelMessages; let i =
      $index; track channelMessage.id) { @if(i === 0 ||
      (this.dateFormatService.formatDateYYYYMMDD(channelMessage.createdAt) !==
      this.dateFormatService.formatDateYYYYMMDD(firestore.channelMessages[i -
      1].createdAt))){
      <app-time-seperator
        [seperatorDate]="channelMessage.createdAt"
      ></app-time-seperator>
      }
      <app-conversation
        [channelMessage]="channelMessage"
        [isChannel]="true"
        [isThread]="false"
        [isDirectMessage]="false"
      ></app-conversation>
      } } @else {
      <div class="placeholder">
        <div class="channel-info">
          <h1 class="no-margin">
            <span>#</span>
            <span>{{ channel.name }}</span>
          </h1>
          <p>
            Das ist der Anfang des Channels
            <span># {{ channel.name }}</span>
          </p>
        </div>
      </div>
      }
    </div>
  </div>
      }
  <app-text-box [textBoxData]="textBoxData" [isThread]="false"></app-text-box>
</div>

<div id="overlay1" style="display: none" class="overlay">
  <div class="overlay-content">
    <div class="display-flex">
      <h1 class="no-margin">Mitglieder</h1>
      <span>
        <img
          src="./assets/img/icon/close.svg"
          alt=""
          (click)="closeOverlay('overlay1')"
        />
      </span>
    </div>
    <div class="members">
      <div *ngFor="let member of filterUsers()">
        <div class="profil">
          <img class="img-profil" src="{{ member.avatar }}" alt="" />

          @if(user.isOnline){
          <img
            src="./assets/img/characters/online.svg"
            alt="Online"
            class="online-avatar"
          />
          } @else {
          <img
            src="./assets/img/characters/offline.svg"
            alt="Offline"
            class="offline-avatar"
          />
          }

          <p class="no-margin">{{ member.displayName }}</p>
        </div>
      </div>

      <div
        class="profil"
        (click)="closeOverlay('overlay1'); toggleOverlay('overlay')"
      >
        <img class="height" src="./assets/img/icon/add_member.svg" alt="" />
        <p class="no-margin">Mitglied hinzufügen</p>
      </div>
    </div>
  </div>
</div>

<div id="overlay" style="display: none" class="overlay">
  <app-search-user></app-search-user>
</div>
