.p-16 {
    padding: 16px;
}

button {
    background: #444df2;
    border-radius: 50px;
    padding: 12px 25px;
    height: 49px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.55px;
    text-align: left;
    color: #444df2;
    font-family: "Nunito", serif;
    color: #ffffff !important;
    border-color: #444df2;
}

p {
  font-size: 1.1rem;
}