@import "../../../../styles/mixins.scss";

.footer-login{
  @include dFlex($jc: center, $ai: center, $fd: row, $g: 16px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 21.6px;
  color: #797ef3;
  font-family: 'Figtree';
  z-index: 0;
  span{
    padding: 10px 15px;
    &:hover{
      color: #444df2;
    }    
  }
}