@use "@material/card";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/dialog";

@include dialog.core-styles;
@include textfield.core-styles;
@include card.core-styles;
@import "../../../styles/mixins.scss";

.h1{
  width: 100%;
  font-size: 1.111rem;
  margin-bottom: 0;
}

.container {
  @include dFlex($jc: flex-start, $ai: normal, $fd: column, $g: 0);
  height: 100vh;
  width: 100%;
}

.loading-animation,
.content {
  flex: 1;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 24px 16px 12px 16px;
}

app-progress-spinner{
  height: 100%;  
  @include dFlex($jc: center, $ai: center, $fd: row, $g: 0);
}

.mdc-card {
  @include dFlex($jc: space-between, $ai: center, $fd: row, $g: 15px);
  @include shadow-bottom();
  padding: 0 16px;

  .channel-box {    
    @include dFlex($jc: flex-start, $ai: normal, $fd: column, $g: 4px);
    padding: 8px 16px;
    width: 100%;
  }
}

.input-div{
  margin-bottom: 10px;
}

.no-margin {
  margin: 0;
}

.add-member {
  display: flex;
  align-items: center;
  gap: 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.overlay-content {
  background-color: white;
  width: 75%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.inputbox{
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid black;
  width: 200px;
}

.search-input {
  border: 1px solid blue;
  border-radius: 20px;
  padding: 8px;
  margin-top: 10px;
  width: 94%;
  margin-bottom: 10px;
}

.btn-pos {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.overlay-profil {
  background-color: white;
  width: 89%;
  max-width: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

@media (min-width: 768px) {
  .container{
    height: calc(100vh - 200px);
    
  }
}

.selected-users-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  padding: 8px;
}

.input-field{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 40px;
  border: 1px solid #adb0d9;
}

.add-member {
  position: relative;
  background-color: #FFFFFF;
  padding: 10px;
  font-size: 1.25em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.scroll {
  font-size: 0.833rem;
  width: 100%;
  max-height: 200px;
  overflow: scroll;
}

.selection{
  padding: 8px;
  &:hover {
    cursor: pointer;
    background-color: #eceefe;
    border-radius: 30px;
    font-weight: 700;
    color: #535af1;
  }
}

.channel-name {
  padding: 10px;
  gap: 16px;
  display: flex;
  align-items: center;
  position: relative;

  span {
    @include fontBold(
      $fw: 400,
      $fs: 0.944rem,
      $lh: 23.19px,
      $ta: center,
      $c: #000000
    );
  }

  img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
  }

  .online-avatar,
  .offline-avatar {
    position: absolute;
    bottom: 8px;
    left: 35px;
    width: 14px;
    height: 14px;
  }
}

.pl-7 {
  padding-left: 23px;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  img {
    width: 20px !important;
    height: 20px !important;
  }
}


//DESKTOP/////

@media (min-width: 450px) {
  .container app-header-mobile {
    display: none;
  }
  .mdc-card{
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.08);
  }
}


