<!-- <div class="input-field">
  <input
    type="text"
    name="text"
    [(ngModel)]="textData.text"
    (ngModelChange)="this.dataService.searchWorkspace(textData.text)"
    [class.input-has-value]="inputHasValue"
    placeholder="Gehe zu..."
    required
    autocomplete="off"
    class="full-width input-field-design input-background-icon"    
    [ngStyle]="{ 'border': isDesktop ? '1px solid #FFFFFF' : '1px solid #ADB0D9' }"
  />
</div> -->



<!-- <div class="input-field">
  <input
    type="text"
    name="text"
    [(ngModel)]="textData.text"
    (ngModelChange)="this.dataService.searchWorkspace(textData.text)"
    [class.input-has-value]="inputHasValue"
    placeholder="Gehe zu..."
    required
    autocomplete="off"
    class="full-width input-field-design input-background-icon"
    [ngStyle]="{ 'border': isDesktop ? '1px solid #FFFFFF' : '1px solid #ADB0D9' }"
  />
</div>

<div *ngIf="showDropdown" class="dropdown-menu">
  <div *ngIf="filteredResults.length > 0">
    <ul>
      <li *ngFor="let result of filteredResults" (click)="onResultClick(result)">
        {{ result.name || result.displayName || result.text }}
      </li>
    </ul>
  </div>
  <div *ngIf="filteredResults.length === 0">
    <p>No results found</p>
  </div>
</div> -->



<div class="input-field">
  <input
    type="text"
    name="text"
    [(ngModel)]="textData.text"
    (ngModelChange)="onSearchChange($event)"
    [class.input-has-value]="inputHasValue"
    placeholder="Gehe zu..."
    required
    autocomplete="off"
    class="full-width input-field-design input-background-icon"
    [ngStyle]="{ 'border': isDesktop ? '1px solid #FFFFFF' : '1px solid #ADB0D9' }"
  />
  <div *ngIf="showDropdown" class="dropdown-menu">
    <ul>
      <li *ngFor="let result of filteredResults" (click)="onResultClick(result)">
        {{ result.name || result.displayName || result.text }}
      </li>
    </ul>
  </div>
</div>