<mat-card class="custom-dialog-container">
  <div class="profil-title">
    <span>Profil</span>
    <div class="close-icon" (click)="closeProfilCard()">
      <img ngSrc="./assets/img/icon/close.png" class="default-img" height="24" width="24">
      <img ngSrc="./assets/img/icon/close_color.png" class="hover-img" style="display: none" height="16" width="16">
    </div>
  </div>
  <div class="profile-img">
  <img mat-card-image src="{{ data.user.avatar }}">
  </div>
  <mat-card-content>
    <div>
      <div class="user">
        <span>{{ data.user.displayName }}</span>
        <div class="edit-icon" (click)="openEditProfileCard()">
          <img ngSrc="./assets/img/icon/edit.png" class="default-img" height="24" width="24">
          <img ngSrc="./assets/img/icon/edit_color.png" class="hover-img" style="display: none" height="24" width="24">
        </div>
      </div>
      <div class="status-character">
        <img ngSrc="./assets/img/icon/online.png" height="17" width="16">
        <span>{{ data.user.isOnline | onlineStatus }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div>
      <div class="email-field">
        <img ngSrc="./assets/img/icon/mail.png" height="20" width="26">
        <span>E-Mail-Adresse</span>
      </div>
      <span class="email-user">{{ data.user.email }}</span>
    </div>
  </mat-card-content>
  <!--  <mat-card-actions>-->
  <!--    <button mat-button>LIKE</button>-->
  <!--    <button mat-button>SHARE</button>-->
  <!--  </mat-card-actions>-->
</mat-card>
