@import "../../../../styles/mixins.scss";

.custom-dialog-container {
  border-radius: 30px;
  padding: 45px 20px;
  gap: 38px;
  border: 10px solid transparent;
}

.profil-title {
  @include dFlex( $jc: space-between, $ai: center);
  }


  span {
    @include fontBold($fw: 700, $fs: 1.333rem, $lh: 32.74px, $ta: center, $c: #000000);
  }

  .close-icon:hover {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    @include bg-c(#ECEEFE);
    @include dFlex( $jc: center, $ai: center);

    .default-img {
      display: none;
    }

    .hover-img {
      display: block !important;
    }
  }

.profile-img {
  display: flex;
  justify-content: center;
  
  img{
    border-radius: 50%;
    border: 2px solid #eceefe;
  }

}


.user {
  @include fontBold($fw: 700, $fs: 1.778rem, $lh: 43.65px, $ta: center, $c: #000000);
  @include dFlex( $jc: space-between, $ai: center);

  .edit-icon:hover {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    @include bg-c(#ECEEFE);
    @include dFlex( $jc: center, $ai: center);

    .default-img {
      display: none;
    }

    .hover-img {
      display: block !important;
    }
  }
}

.status-character {
  width: 88px;
  @include dFlex($jc: unset, $ai: center, $g: 15px);

  span {
    @include fontBold($fw: 400, $fs: 1.111rem, $lh: 27.28px, $ta: center, $c: #92C83E);
  }
}

.email-field {
  @include dFlex($jc: unset, $ai: center, $g: 20px);
  padding-bottom: 16px;

  span {
    @include fontBold($fw: 700, $fs: 1.111rem, $lh: 27.28px, $ta: center, $c: #000000);
  }
}

.email-user {
  @include fontBold($fw: 400, $fs: 1rem, $lh: 24.55px, $ta: center, $c: #000000);
  left: 46px;
  position: relative;
}
