<div class="content">
  <div class="logo">
    <img src="./assets/img/auth/logo.svg"/>
    <span class="logo-name">DABubble</span>
  </div>
  <mat-card>
    <mat-card-header>
      <div class="headline">
        <div class="menu-hover pointer" (click)="goBack()">
          <img src="assets/img/icon/arrow_left.png">
        </div>
        <mat-card-title>Impressum</mat-card-title>
        <mat-card-subtitle>
          Angaben gem&auml;&szlig; &sect; 5 TMG <br/><br/>
          Stefan, Yannick &amp; Sascha <br>Gruppe Da Bubble<br/><br/>
            Musterstrasse 123<br/>
            123456 Musterstadt
        </mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-title>Contact:</mat-card-title>
      <mat-card-subtitle>
        Telefon: 12345678<br/>
        contact&#64;sascha-nemeth.com
        <br/><br/>
        Quelle: <a href="https://www.e-recht24.de">eRecht24</a>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
