<div class="content">
  <div class="logo">
    <img src="./assets/img/auth/logo.svg" />
    <span class="logo-name">DABubble</span>
  </div>

  <mat-card>
    <mat-card-header>
      <div class="headline">
        <div class="headline-icon">
          <mat-icon
            class="pointer"
            fontIcon="arrow_back"
            routerLink="/login"
            routerLinkActive="router-link-active"
          ></mat-icon>
        </div>

        <mat-card-title>Passwort zurücksetzen</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      @if(errorMessage){
      <div class="required">{{ errorMessage }}</div>      
      }

      <form (ngSubmit)="onSubmit()" #contactForm="ngForm" ngNativeValidate>
        <div class="form-box">
          <div class="input-with-icon">
            <input
              type="text"
              name="password"
              #password="ngModel"
              [(ngModel)]="contactData.password"
              minlength="{{passwordMinLength}}"
              placeholder="Neues Passwort"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
              required
              (keyup)="checkPasswords()"
            />
          </div>
          <span class="required">
            @if (!password.valid && password.touched && !password.disabled){
              Das Passwort muss mindestens 6 Zeichen lang sein und eine Zahl, einen Groß- und einen Kleinbuchstaben enthalten. }
          </span>
        </div>

        <div class="form-box">
          <div class="input-with-icon">
            <input
              type="text"
              name="confirm_password"
              #confirm_password="ngModel"
              [(ngModel)]="contactData.confirm_password"
              minlength="{{passwordMinLength}}"
              placeholder="Passwort bestätigen"
              required
              (keyup)="checkPasswords()"
            />
          </div>
          <span class="required">
            @if (!confirm_password.valid && confirm_password.touched &&
            !confirm_password.disabled){ Ihre Kennwörter stimme nicht überein. }
          </span>
        </div>

        <div class="buttons">
          <button
            type="submit"
            [disabled]="isDisabled"
            class="btn-primary pointer"
          >
            Passwort ändern
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="bottom-right">
    @if(confirm){
    <div class="overlay-animation">
      <span>Anmelden</span>
    </div>
    }
  </div>
  
</div>
